# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ZUUZ_LEFT

config ZMK_KEYBOARD_NAME
    default "Zuuz"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ZUUZ_LEFT || SHIELD_ZUUZ_RIGHT

config ZMK_SPLIT
    default y

endif
