# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ZUUZ_LEFT
    def_bool $(shields_list_contains,zuuz_left)

config SHIELD_ZUUZ_RIGHT
    def_bool $(shields_list_contains,zuuz_right)
